[submodule "JavaUtils"]
	path = JavaUtils
	url = https://github.com/Baneeishaque/Java_Common_Utils.git
[submodule "DebugUtils"]
	path = DebugUtils
	url = https://github.com/Baneeishaque/Android_Common_Debug_Utils.git
[submodule "Utils19"]
	path = Utils19
	url = https://github.com/Baneeishaque/Android-Common-Utils19.git
