[submodule "Android_Common_Utils_API_1"]
	path = Android_Common_Utils_API_1
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_1.git
[submodule "Android_Common_Utils_API_14"]
	path = Android_Common_Utils_API_14
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_14.git
[submodule "Android_Common_Utils_API_16"]
	path = Android_Common_Utils_API_16
	url = https://github.com/Baneeishaque/Android_Common_Utils_API_16.git
