<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ndk.personal.account_ledger">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.Splash_v2"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activities.Splash"
            android:label="Wallet Ledger"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="ndk.utils.activities.Login_Bundle" />

        <activity
            android:name=".activities.Insert_Transaction"
            android:label="Wallet Ledger" />

        <activity
            android:name=".activities.Clickable_Pass_Book_Bundle"
            android:label="Pass Book"
            android:screenOrientation="landscape" />

        <activity android:name=".activities.Insert_Transaction_v2" />

        <activity android:name=".activities.List_Accounts">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity android:name=".activities.Insert_Account" />
        <activity android:name=".activities.Insert_Transaction_v2_Quick" />
        <activity android:name=".activities.Edit_Transaction_v2" />

    </application>

</manifest>