name: Android CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: recursive
      - name: set up JDK 11
        uses: actions/setup-java@v4.8.0
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build
